<h1 class="clsHeader">{{ title }}</h1>
{{# if isPallindrome}}
<p class="success">{{text-to-test}}</p>
<p class="normalPara">{{result}}</p>
{{else}}
<p class="failure">{{text-to-test}}</p>
<p class="normalPara">{{result}}</p>
{{/if}}
  <a href="/" class="clsLabel">Try another palindrome</a>